header {
    background: #FF4136;
    padding: 25px;
    margin-bottom: 25px;
    color: bisque;
}

#left {
    background-color: #0074D9;
    color: black;
    width: 33%;
    float: left;
}

#middle {
    background-color: #FFDC00;
    color: black;
    width: 33%;
    float: left;
}

#right {
    background-color: #39CCCC;
    color: black;
    width: 33%;
    float: left;
}

#full {
    background-color: #DDDDDD;
}

#division {
    background-color: #85144b;
}

aside {
    background-color: #DDDDDD;
}

footer {
    background-color: #AAAAAA;
}